.btn {
    color: #28527a;
    background-color: #faf3e0;
    border: 2px solid #28527a;
}

.btn:hover {
    color: lightblue;
    background-color:#28527a;
    border: 2px solid white;
}

.label {
    color:  #faf3e0;
    font-size: 20px;
}


.login-container {
    padding: 2%;
    background-color: #1f568a;
    border-radius: 2%/3%;
    width: 40%;
    position: absolute;
    top: 20vh;
    left: 30%;
}

.sign-up-border {
    border-radius: 2%;

}

.label {
    color:  #faf3e0;
    font-size: 20px;
}

