.btn {
    color: #28527a;
    background-color: #faf3e0;
    border: 2px solid #28527a;
    border-radius: 10%/20%;
}

.btn:hover {
    color: lightblue;
    background-color:#28527a;
    border: 2px solid white;
}


.login-container {
   padding: 2%;
  color: #1f568a;
  border-radius: 2%/3%;
  width: 40%;
  position: absolute;
  top: 20vh;
  left: 30%;
  border: 2px solid #1f568a;
}

.sign-up-border {
    border-radius: 2%;

}

.label {
    color: #28527a;
    font-size: 20px;
}

